<% if user_signed_in? %>
  <p>
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
  </p>
  <p>
    <%= link_to "Edit profile", edit_user_registration_path %>
  </p>
<% else %>
  <p>
    <%= link_to "Sign up", new_user_registration_path %>
  </p>
  <p>
    <%= link_to "Sign in", new_user_session_path %>
  </p>
<% end %>
